@import 'http://basehold.it/24/ff0000';
@import url("http://fonts.googleapis.com/css?family=Montserrat");
/* line 17, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 61, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/_vertical_rhythm.scss */
* html {
  font-size: 100%;
}

/* line 64, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/_vertical_rhythm.scss */
html {
  font-size: 16px;
  line-height: 1.5em;
}

/* line 9, ../scss/_type.scss */
h1,
h2,
h3,
h4,
h5 {
  font-family: "Montserrat", sans-serif, sans-serif;
  font-weight: 300;
  -webkit-transition: all, 500ms;
  -moz-transition: all, 500ms;
  -o-transition: all, 500ms;
  transition: all, 500ms;
  color: #4d4d4d;
}

/* line 18, ../scss/_type.scss */
h1 {
  font-size: 2.625em;
  line-height: 1.14286em;
  margin-top: 0em;
  padding-top: 0em;
  padding-bottom: 0em;
  margin-bottom: 0.57143em;
}

/* line 23, ../scss/_type.scss */
h2 {
  font-size: 2em;
  line-height: 1.5em;
  margin-top: 0em;
  padding-top: 0em;
  padding-bottom: 0em;
  margin-bottom: 0.75em;
}

/* line 28, ../scss/_type.scss */
h3 {
  font-size: 1.375em;
  line-height: 2.18182em;
  margin-top: 0em;
  padding-top: 0em;
  padding-bottom: 0em;
  margin-bottom: 1.09091em;
}

/* line 33, ../scss/_type.scss */
h4 {
  font-size: 1.125em;
  line-height: 1.33333em;
  margin-top: 0em;
  padding-top: 0em;
  padding-bottom: 0em;
  margin-bottom: 1.33333em;
}

/* line 38, ../scss/_type.scss */
h5 {
  font-size: 1em;
  line-height: 1.5em;
  margin-top: 0em;
  padding-top: 0em;
  padding-bottom: 0em;
  margin-bottom: 1.5em;
  font-style: italic;
}

/* line 44, ../scss/_type.scss */
p {
  font-size: 1.125em;
  line-height: 5.33333em;
  margin-top: 0em;
  padding-top: 0em;
  padding-bottom: 0em;
  margin-bottom: 2.66667em;
  color: #4d4d4d;
  font-family: Cambria, serif;
  font-weight: 300;
}
/* line 52, ../scss/_type.scss */
p + p {
  text-indent: 1em;
}

/* line 57, ../scss/_type.scss */
blockquote {
  padding-left: 2em;
  border-left: 0.3rem solid #ff3333;
}
/* line 62, ../scss/_type.scss */
blockquote p {
  font-size: 1.25em;
  line-height: 1.2em;
  margin-top: 0em;
  padding-top: 0em;
  padding-bottom: 0em;
  margin-bottom: 1.2em;
  font-family: Cambria, serif;
  font-weight: 300;
  font-style: italic;
  color: #4d4d4d;
}

/* line 91, ../scss/_type.scss */
p,
pre,
label {
  font-size: 1em;
  line-height: 1.5em;
  margin-top: 1.5em;
  padding-top: 0em;
  padding-bottom: 0em;
  margin-bottom: 1.5em;
}

/* line 96, ../scss/_type.scss */
ul, ol {
  font-size: 1.125em;
  line-height: 1.33333em;
  margin: 0 0 1.33333em 0;
}
/* line 99, ../scss/_type.scss */
ul li, ol li {
  font-style: italic;
  color: gray;
  font-family: Cambria, serif;
  font-weight: 300;
}

/* line 109, ../scss/_type.scss */
ul {
  list-style-position: inside;
  list-style-type: disc;
}

/* line 114, ../scss/_type.scss */
ol {
  list-style-position: inside;
  list-style-type: decimal;
}

/* line 119, ../scss/_type.scss */
li {
  line-height: auto;
}

/* line 124, ../scss/_type.scss */
a,
a:visited {
  color: #e54a4f;
}

/* line 129, ../scss/_type.scss */
strong,
b {
  font-weight: bold;
}

/* line 135, ../scss/_type.scss */
em,
i,
q {
  font-style: italic;
}

/* line 9, ../scss/screen.scss */
* {
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */
  box-sizing: border-box;
  /* Opera/IE 8+ */
}

/* line 15, ../scss/screen.scss */
html {
  font-size: 100%;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  font-synthesis: none;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

/**
 * Layout
 */
/* line 28, ../scss/screen.scss */
section[role="main"] {
  *zoom: 1;
  max-width: 68em;
  _width: 68em;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1em;
  padding-right: 1em;
  background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(0%, rgba(255, 0, 0, 0.05)), color-stop(6.77966%, rgba(255, 0, 0, 0.05)), color-stop(6.77966%, rgba(0, 0, 0, 0)), color-stop(8.47458%, rgba(0, 0, 0, 0)), color-stop(8.47458%, rgba(255, 0, 0, 0.05)), color-stop(15.25424%, rgba(255, 0, 0, 0.05)), color-stop(15.25424%, rgba(0, 0, 0, 0)), color-stop(16.94915%, rgba(0, 0, 0, 0)), color-stop(16.94915%, rgba(255, 0, 0, 0.05)), color-stop(23.72881%, rgba(255, 0, 0, 0.05)), color-stop(23.72881%, rgba(0, 0, 0, 0)), color-stop(25.42373%, rgba(0, 0, 0, 0)), color-stop(25.42373%, rgba(255, 0, 0, 0.05)), color-stop(32.20339%, rgba(255, 0, 0, 0.05)), color-stop(32.20339%, rgba(0, 0, 0, 0)), color-stop(33.89831%, rgba(0, 0, 0, 0)), color-stop(33.89831%, rgba(255, 0, 0, 0.05)), color-stop(40.67797%, rgba(255, 0, 0, 0.05)), color-stop(40.67797%, rgba(0, 0, 0, 0)), color-stop(42.37288%, rgba(0, 0, 0, 0)), color-stop(42.37288%, rgba(255, 0, 0, 0.05)), color-stop(49.15254%, rgba(255, 0, 0, 0.05)), color-stop(49.15254%, rgba(0, 0, 0, 0)), color-stop(50.84746%, rgba(0, 0, 0, 0)), color-stop(50.84746%, rgba(255, 0, 0, 0.05)), color-stop(57.62712%, rgba(255, 0, 0, 0.05)), color-stop(57.62712%, rgba(0, 0, 0, 0)), color-stop(59.32203%, rgba(0, 0, 0, 0)), color-stop(59.32203%, rgba(255, 0, 0, 0.05)), color-stop(66.10169%, rgba(255, 0, 0, 0.05)), color-stop(66.10169%, rgba(0, 0, 0, 0)), color-stop(67.79661%, rgba(0, 0, 0, 0)), color-stop(67.79661%, rgba(255, 0, 0, 0.05)), color-stop(74.57627%, rgba(255, 0, 0, 0.05)), color-stop(74.57627%, rgba(0, 0, 0, 0)), color-stop(76.27119%, rgba(0, 0, 0, 0)), color-stop(76.27119%, rgba(255, 0, 0, 0.05)), color-stop(83.05085%, rgba(255, 0, 0, 0.05)), color-stop(83.05085%, rgba(0, 0, 0, 0)), color-stop(84.74576%, rgba(0, 0, 0, 0)), color-stop(84.74576%, rgba(255, 0, 0, 0.05)), color-stop(91.52542%, rgba(255, 0, 0, 0.05)), color-stop(91.52542%, rgba(0, 0, 0, 0)), color-stop(93.22034%, rgba(0, 0, 0, 0)), color-stop(93.22034%, rgba(255, 0, 0, 0.05)), color-stop(100.0%, rgba(255, 0, 0, 0.05)), color-stop(100.0%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0)));
  background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(255, 0, 0, 0.05) 0%, rgba(255, 0, 0, 0.05) 6.77966%, rgba(0, 0, 0, 0) 6.77966%, rgba(0, 0, 0, 0) 8.47458%, rgba(255, 0, 0, 0.05) 8.47458%, rgba(255, 0, 0, 0.05) 15.25424%, rgba(0, 0, 0, 0) 15.25424%, rgba(0, 0, 0, 0) 16.94915%, rgba(255, 0, 0, 0.05) 16.94915%, rgba(255, 0, 0, 0.05) 23.72881%, rgba(0, 0, 0, 0) 23.72881%, rgba(0, 0, 0, 0) 25.42373%, rgba(255, 0, 0, 0.05) 25.42373%, rgba(255, 0, 0, 0.05) 32.20339%, rgba(0, 0, 0, 0) 32.20339%, rgba(0, 0, 0, 0) 33.89831%, rgba(255, 0, 0, 0.05) 33.89831%, rgba(255, 0, 0, 0.05) 40.67797%, rgba(0, 0, 0, 0) 40.67797%, rgba(0, 0, 0, 0) 42.37288%, rgba(255, 0, 0, 0.05) 42.37288%, rgba(255, 0, 0, 0.05) 49.15254%, rgba(0, 0, 0, 0) 49.15254%, rgba(0, 0, 0, 0) 50.84746%, rgba(255, 0, 0, 0.05) 50.84746%, rgba(255, 0, 0, 0.05) 57.62712%, rgba(0, 0, 0, 0) 57.62712%, rgba(0, 0, 0, 0) 59.32203%, rgba(255, 0, 0, 0.05) 59.32203%, rgba(255, 0, 0, 0.05) 66.10169%, rgba(0, 0, 0, 0) 66.10169%, rgba(0, 0, 0, 0) 67.79661%, rgba(255, 0, 0, 0.05) 67.79661%, rgba(255, 0, 0, 0.05) 74.57627%, rgba(0, 0, 0, 0) 74.57627%, rgba(0, 0, 0, 0) 76.27119%, rgba(255, 0, 0, 0.05) 76.27119%, rgba(255, 0, 0, 0.05) 83.05085%, rgba(0, 0, 0, 0) 83.05085%, rgba(0, 0, 0, 0) 84.74576%, rgba(255, 0, 0, 0.05) 84.74576%, rgba(255, 0, 0, 0.05) 91.52542%, rgba(0, 0, 0, 0) 91.52542%, rgba(0, 0, 0, 0) 93.22034%, rgba(255, 0, 0, 0.05) 93.22034%, rgba(255, 0, 0, 0.05) 100.0%, rgba(0, 0, 0, 0) 100.0%, rgba(0, 0, 0, 0) 100%);
  background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(255, 0, 0, 0.05) 0%, rgba(255, 0, 0, 0.05) 6.77966%, rgba(0, 0, 0, 0) 6.77966%, rgba(0, 0, 0, 0) 8.47458%, rgba(255, 0, 0, 0.05) 8.47458%, rgba(255, 0, 0, 0.05) 15.25424%, rgba(0, 0, 0, 0) 15.25424%, rgba(0, 0, 0, 0) 16.94915%, rgba(255, 0, 0, 0.05) 16.94915%, rgba(255, 0, 0, 0.05) 23.72881%, rgba(0, 0, 0, 0) 23.72881%, rgba(0, 0, 0, 0) 25.42373%, rgba(255, 0, 0, 0.05) 25.42373%, rgba(255, 0, 0, 0.05) 32.20339%, rgba(0, 0, 0, 0) 32.20339%, rgba(0, 0, 0, 0) 33.89831%, rgba(255, 0, 0, 0.05) 33.89831%, rgba(255, 0, 0, 0.05) 40.67797%, rgba(0, 0, 0, 0) 40.67797%, rgba(0, 0, 0, 0) 42.37288%, rgba(255, 0, 0, 0.05) 42.37288%, rgba(255, 0, 0, 0.05) 49.15254%, rgba(0, 0, 0, 0) 49.15254%, rgba(0, 0, 0, 0) 50.84746%, rgba(255, 0, 0, 0.05) 50.84746%, rgba(255, 0, 0, 0.05) 57.62712%, rgba(0, 0, 0, 0) 57.62712%, rgba(0, 0, 0, 0) 59.32203%, rgba(255, 0, 0, 0.05) 59.32203%, rgba(255, 0, 0, 0.05) 66.10169%, rgba(0, 0, 0, 0) 66.10169%, rgba(0, 0, 0, 0) 67.79661%, rgba(255, 0, 0, 0.05) 67.79661%, rgba(255, 0, 0, 0.05) 74.57627%, rgba(0, 0, 0, 0) 74.57627%, rgba(0, 0, 0, 0) 76.27119%, rgba(255, 0, 0, 0.05) 76.27119%, rgba(255, 0, 0, 0.05) 83.05085%, rgba(0, 0, 0, 0) 83.05085%, rgba(0, 0, 0, 0) 84.74576%, rgba(255, 0, 0, 0.05) 84.74576%, rgba(255, 0, 0, 0.05) 91.52542%, rgba(0, 0, 0, 0) 91.52542%, rgba(0, 0, 0, 0) 93.22034%, rgba(255, 0, 0, 0.05) 93.22034%, rgba(255, 0, 0, 0.05) 100.0%, rgba(0, 0, 0, 0) 100.0%, rgba(0, 0, 0, 0) 100%);
  background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(255, 0, 0, 0.05) 0%, rgba(255, 0, 0, 0.05) 6.77966%, rgba(0, 0, 0, 0) 6.77966%, rgba(0, 0, 0, 0) 8.47458%, rgba(255, 0, 0, 0.05) 8.47458%, rgba(255, 0, 0, 0.05) 15.25424%, rgba(0, 0, 0, 0) 15.25424%, rgba(0, 0, 0, 0) 16.94915%, rgba(255, 0, 0, 0.05) 16.94915%, rgba(255, 0, 0, 0.05) 23.72881%, rgba(0, 0, 0, 0) 23.72881%, rgba(0, 0, 0, 0) 25.42373%, rgba(255, 0, 0, 0.05) 25.42373%, rgba(255, 0, 0, 0.05) 32.20339%, rgba(0, 0, 0, 0) 32.20339%, rgba(0, 0, 0, 0) 33.89831%, rgba(255, 0, 0, 0.05) 33.89831%, rgba(255, 0, 0, 0.05) 40.67797%, rgba(0, 0, 0, 0) 40.67797%, rgba(0, 0, 0, 0) 42.37288%, rgba(255, 0, 0, 0.05) 42.37288%, rgba(255, 0, 0, 0.05) 49.15254%, rgba(0, 0, 0, 0) 49.15254%, rgba(0, 0, 0, 0) 50.84746%, rgba(255, 0, 0, 0.05) 50.84746%, rgba(255, 0, 0, 0.05) 57.62712%, rgba(0, 0, 0, 0) 57.62712%, rgba(0, 0, 0, 0) 59.32203%, rgba(255, 0, 0, 0.05) 59.32203%, rgba(255, 0, 0, 0.05) 66.10169%, rgba(0, 0, 0, 0) 66.10169%, rgba(0, 0, 0, 0) 67.79661%, rgba(255, 0, 0, 0.05) 67.79661%, rgba(255, 0, 0, 0.05) 74.57627%, rgba(0, 0, 0, 0) 74.57627%, rgba(0, 0, 0, 0) 76.27119%, rgba(255, 0, 0, 0.05) 76.27119%, rgba(255, 0, 0, 0.05) 83.05085%, rgba(0, 0, 0, 0) 83.05085%, rgba(0, 0, 0, 0) 84.74576%, rgba(255, 0, 0, 0.05) 84.74576%, rgba(255, 0, 0, 0.05) 91.52542%, rgba(0, 0, 0, 0) 91.52542%, rgba(0, 0, 0, 0) 93.22034%, rgba(255, 0, 0, 0.05) 93.22034%, rgba(255, 0, 0, 0.05) 100.0%, rgba(0, 0, 0, 0) 100.0%, rgba(0, 0, 0, 0) 100%);
  background-image: linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(255, 0, 0, 0.05) 0%, rgba(255, 0, 0, 0.05) 6.77966%, rgba(0, 0, 0, 0) 6.77966%, rgba(0, 0, 0, 0) 8.47458%, rgba(255, 0, 0, 0.05) 8.47458%, rgba(255, 0, 0, 0.05) 15.25424%, rgba(0, 0, 0, 0) 15.25424%, rgba(0, 0, 0, 0) 16.94915%, rgba(255, 0, 0, 0.05) 16.94915%, rgba(255, 0, 0, 0.05) 23.72881%, rgba(0, 0, 0, 0) 23.72881%, rgba(0, 0, 0, 0) 25.42373%, rgba(255, 0, 0, 0.05) 25.42373%, rgba(255, 0, 0, 0.05) 32.20339%, rgba(0, 0, 0, 0) 32.20339%, rgba(0, 0, 0, 0) 33.89831%, rgba(255, 0, 0, 0.05) 33.89831%, rgba(255, 0, 0, 0.05) 40.67797%, rgba(0, 0, 0, 0) 40.67797%, rgba(0, 0, 0, 0) 42.37288%, rgba(255, 0, 0, 0.05) 42.37288%, rgba(255, 0, 0, 0.05) 49.15254%, rgba(0, 0, 0, 0) 49.15254%, rgba(0, 0, 0, 0) 50.84746%, rgba(255, 0, 0, 0.05) 50.84746%, rgba(255, 0, 0, 0.05) 57.62712%, rgba(0, 0, 0, 0) 57.62712%, rgba(0, 0, 0, 0) 59.32203%, rgba(255, 0, 0, 0.05) 59.32203%, rgba(255, 0, 0, 0.05) 66.10169%, rgba(0, 0, 0, 0) 66.10169%, rgba(0, 0, 0, 0) 67.79661%, rgba(255, 0, 0, 0.05) 67.79661%, rgba(255, 0, 0, 0.05) 74.57627%, rgba(0, 0, 0, 0) 74.57627%, rgba(0, 0, 0, 0) 76.27119%, rgba(255, 0, 0, 0.05) 76.27119%, rgba(255, 0, 0, 0.05) 83.05085%, rgba(0, 0, 0, 0) 83.05085%, rgba(0, 0, 0, 0) 84.74576%, rgba(255, 0, 0, 0.05) 84.74576%, rgba(255, 0, 0, 0.05) 91.52542%, rgba(0, 0, 0, 0) 91.52542%, rgba(0, 0, 0, 0) 93.22034%, rgba(255, 0, 0, 0.05) 93.22034%, rgba(255, 0, 0, 0.05) 100.0%, rgba(0, 0, 0, 0) 100.0%, rgba(0, 0, 0, 0) 100%);
  background-position: left top;
  -webkit-background-origin: content;
  -moz-background-origin: content;
  -ms-background-origin: content-box;
  -o-background-origin: content-box;
  background-origin: content-box;
  -webkit-background-clip: content-box;
  -moz-background-clip: content-box;
  background-clip: content-box;
  padding-top: 3em;
  -webkit-transition: all, 500ms;
  -moz-transition: all, 500ms;
  -o-transition: all, 500ms;
  transition: all, 500ms;
}
/* line 38, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
section[role="main"]:after {
  content: "";
  display: table;
  clear: both;
}
/* line 33, ../scss/screen.scss */
section[role="main"] article {
  width: 49.15254%;
  float: left;
  margin-right: 1.69492%;
  display: inline;
}
@media screen and (max-width: 60em) {
  /* line 33, ../scss/screen.scss */
  section[role="main"] article {
    width: 100%;
    float: left;
    margin-right: 1.69492%;
    display: inline;
  }
}
/* line 38, ../scss/screen.scss */
section[role="main"] article:nth-child(1) {
  float: right;
  margin-right: 0;
  #margin-left: -1em;
  display: inline;
}
